@import '../styles/common/vars.scss';
@import '../styles/common/mixins.scss';

body {
    background-image: url('https://hellowine.cl/assets/bg-e9be1a56bd82cef60059bac210418e13661e70f3ec7f9fecfc922f0bf14eca07.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-col-center;
}

.hw-form-pool{
    @include flex-col-center;
    padding: 40px;
    background-color: $white;
    border-radius: 0px;
    width: 600px;
    height: auto;
    position: relative;
    @include shadow;
    @media #{$sm}{
        width: 90vw;
        padding: 20px;
        padding-bottom: 30px;
        margin-top: 48px;
    }
    h1 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        img {
            margin-right: 10px;
            height: 18px;
            margin-bottom: 5px;
        }
    }
    h2 {
        font-size: 14px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    .hw-header{
        padding-left: 40px;
        padding-right: 40px;
        height: 48px;
        left: 0px;
        top: -48px;
        position: absolute;
        background-color: $black;
        color: $white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        @media #{$sm}{
            padding-left: 20px;
            padding-right: 20px;
        }
        
    }
    .ps-button{
        align-self: flex-end;
        margin-top: 40px;
    }
    .hw-form-page{
        @include flex-col-center;
        height: 100%;
        display: none;
        width: 100%;
        z-index: -1;
        @include animate;
        justify-content: space-between;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 5px;
            width: 100%;
            background: rgba($black, 0.125);
        }
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 5px;
            background: $color-1;
            @include animate;
        }
        &.page-1{
            &:after{
                width: calc((100% / 10) * 0);
            }
        }
        &.page-2{
            &:after{
                width: calc((100% / 10) * 1);
            }
        }
        &.page-3{
            &:after{
                width: calc((100% / 10) * 2);
            }
        }
        &.page-4{
            &:after{
                width: calc((100% / 10) * 3);
            }
        }
        &.page-5{
            &:after{
                width: calc((100% / 10) * 4);
            }
        }
        &.page-6{
            &:after{
                width: calc((100% / 10) * 5);
            }
        }
        &.page-7{
            &:after{
                width: calc((100% / 10) * 6);
            }
        }
        &.page-8{
            &:after{
                width: calc((100% / 10) * 7);
            }
        }
        &.page-9{
            &:after{
                width: calc((100% / 10) * 8);
            }
        }
        &.page-11{
            &:after{
                width: calc((100% / 10) * 9);
            }
        }
        &.page-10{
            &:after{
                width: calc((100% / 10) * 10);
            }
        }
        &.active{
            display: flex;
            z-index: 1;
        }
        .hw-form-element{
            width: 100%;
        }
        p {
            margin-bottom: 10px;
            font-size: 28px;
            @media #{$sm}{
                font-size: 18px
            }
        }
        .flex{
            flex-wrap: wrap;
            img {
                height: 96px;
            }
        }
        .img {
            margin: 5px;
            width: 96px;
            height: 96px;
            background: {
                size: cover;
                position: center;
            }
            @media #{$sm}{
                height: 64px;
                width: 64px;
            }
        }
    }
}

input[type='radio'], input[type='checkbox']{
    height: 28px;
    width: 28px;
    color: $color-1;
    @media #{$sm}{
        height: 21px;
        width: 21px;
    }
}

textarea {
    font-size: 18px;
    padding: 10px;
}

.prevent-errors{
    padding-left: 20px;
    padding-right: 20px;
    background-color: $color-2;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    @media #{$sm}{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 54px;
    @media #{$sm}{
        font-size: 13px
    }
}

.page-6, .page-7{
    .flex.row.start{
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        .flex.row.center{
            .flex.col.center{
                width: 100%;
                .flex.row.start{
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                    label {
                        height: auto;
                    }
                }
            }
        }
    }
}

.page-8{ 
    label{
        height: 36px;
    } 
}