@import '../styles/common/vars.scss';
@import '../styles/common/mixins.scss';

body {
    background-image: url('https://hellowine.cl/assets/bg-e9be1a56bd82cef60059bac210418e13661e70f3ec7f9fecfc922f0bf14eca07.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-col-center;
}

.hw-form-pool{
    @include flex-col-center;
    padding: 40px;
    background-color: $white;
    border-radius: 0px;
    width: 600px;
    height: 400px;
    position: relative;
    @include shadow;
    @media #{$sm}{

    }
    h1 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        img {
            margin-right: 10px;
            height: 18px;
            margin-bottom: 5px;
        }
    }
    h2 {
        font-size: 14px;
        font-weight: 400;
        span {
            font-weight: 700;
        }
    }
    .hw-header{
        padding-left: 40px;
        padding-right: 40px;
        height: 48px;
        left: 0px;
        top: -48px;
        position: absolute;
        background-color: $black;
        color: $white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }
    .ps-button{
        align-self: flex-end;
        margin-top: 40px;
    }
    .hw-form-page{
        @include flex-col-center;
        height: 100%;
        display: none;
        width: 100%;
        z-index: -1;
        @include animate;
        justify-content: space-between;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 5px;
            width: 100%;
            background: rgba($black, 0.125);
        }
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 5px;
            background: $color-1;
            @include animate;
        }
        &.page-1{
            &:after{
                width: calc((100% / 8) * 0);
            }
        }
        &.page-2{
            &:after{
                width: calc((100% / 8) * 1);
            }
        }
        &.page-3{
            &:after{
                width: calc((100% / 8) * 2);
            }
        }
        &.page-4{
            &:after{
                width: calc((100% / 8) * 3);
            }
        }
        &.page-5{
            &:after{
                width: calc((100% / 8) * 4);
            }
        }
        &.page-6{
            &:after{
                width: calc((100% / 8) * 5);
            }
        }
        &.page-7{
            &:after{
                width: calc((100% / 8) * 6);
            }
        }
        &.page-8{
            &:after{
                width: calc((100% / 8) * 7);
            }
        }
        &.page-9{
            &:after{
                width: calc((100% / 8) * 8);
            }
        }
        &.active{
            display: flex;
            z-index: 1;
        }
        .hw-form-element{
            width: 100%;
        }
        p {
            font-size: 28px;
        }
    }
}